.grid-container {
    display: grid; 
    grid-template-columns: auto auto auto auto; 
}

p{
    text-align: center; 
    font-family: Courier; 
    color: white; 
}

.item1 {
    background-color: #0093FF; 
    grid-column: 1/4;
}

.item2 {
    background-color: #EAAC21;
    grid-column: 1/2; 
}

