@media only screen and (min-width: 600px){
    .row header{
      width: 1920px;
      height: 593px; 
      margin-top: 257px; 
    }
}

*{
    font-family: Courier; 
    color: white; 
    text-align: center; 
    font-size: 80; 
}

header.demo{
    background-color: #0093FF;
}