.grid-container {
    display: grid; 
}

p{
    text-align: center; 
}

.item1 {
    background-color: #0093FF; 
}


@media only screen and (min-width: 600px){
    .row header{
      width: 1024px;
      height: 593px; 
    }
}

*{
    font-family: Courier; 
    color: white; 
    font-size: 80; 
}
